@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

:root {
  --main-blue: #119da4;
  --main-pink: #92475c;
  --ligh-pink: #92475c27;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Montserrat Alternates', sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'Kodchasan', sans-serif;
  color: var(--main-blue);
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50rem;
  aspect-ratio: 1/1;
  background-color: var(--ligh-pink);
  padding: 10rem;
  border-radius: 100%;
}

.about__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.about__photo {
  height: 10rem;
}

.about__contacts {
  display: flex;
  justify-content: space-evenly;
}

.about__icon {
  width: 2rem;
}
